/* GENERAL */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}
/* ********** */

/* HEADER */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 45px 9.5%;
    padding-bottom: 30px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 6px 10px;
    border: 6px double white;
}

#header-filler {
    flex: 1;
}

.nav-bar {
    margin: auto 0;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

header li {
    font-size: 24px;
    transition: all 0.25s;
}

header li a:hover {
    color: lightgray;
}

header li:hover {
    transform: scale(1.1);
}
/* ********** */

/* PROFILE */
.profile {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 9.5%;
    padding-top: 25px;
    padding-bottom: 45px;
}

.profile-row-1 {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.profile-intro {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    width: 572.5px;
    min-width: 300px;
    margin-right: 5%;
    flex: 1;
    margin-bottom: 25px;
}

.profile-img {
    object-fit: contain;
}

.img-holder {
    flex: 1;
    min-height: 190px;
    min-width: 200px;
    border: 2px solid white;
    background: url("../Graphics/field_view.jpeg");
    background-size: cover;
    background-position: center;
}

.profile-row-2 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size: 18px;
}

.profile-row-2 div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

dt {
    font-weight: bold;
    margin-right: 10px;
}
/* ********** */

/* PORTFOLIO */
.portfolio {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 25px 9.5%;
}

.portfolio h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 25px 0;
}

.project, .club {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 9px 15px;
    margin: 20px 0;
    transition: all 0.25s;
}

.project:hover, .club:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px lightgray;
}

.project-photo, .club-photo {
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
}

.project h3, .club h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.project p, .club p {
    font-size: 18px;
}
/* ********** */

/* FOOTER */
footer {
    color: white;
    background-color: black;
    padding: 0 10px;
    padding: 10px 0;
    text-align: center;
}
/* ********** */


/* GAME MENU */

.games {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 9.5%;
}

.game-option {
    border: 2px solid black;
    border-radius: 5px;
    padding: 9px 15px;
    transition: all 0.25s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-option:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px lightgray;
}

.game-option h3 {
    font-size: 48px;
    font-weight: bold;
    color: black;
}
/* ********** */

/* Rework project format */
.rework {
    background-color: white;
    color: black;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 15px;*/
    border: 2px solid black;
    border-radius: 4px;
    padding: 9px 15px;
    margin: 20px 0;
    transition: all 0.25s;
}

.rework:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px lightgray;
}

.rework-photo {
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
}

.rework h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.rework p {
    font-size: 18px;
}