body {
    background-color: black;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.overflow-container {
    overflow-x: auto;
}

.dash-board {
    width: 960px;
    height: 50px;
    border: 8px outset white;
    /*border-radius: 5px;*/
    padding: 2px;
    margin: 10px auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reset-btn, .diff-change, .instructions {
    font-size: 24px;
    height: 36px;
    background-color: white;
    border: 2px outset black;
}

.reset-btn:hover, .instructions:hover, .instructions-text {
    color: white;
    background-color: black;
    border-style: inset;
}

.instructions-text {
    font-size: 24px;
    position: absolute;
    margin-top: 5px;
    margin-left: -9px;
    z-index: 10px;
    text-align: left;
}

.instructions-text p {
    margin: 0;
    padding: 7.5px;
}

.hidden {
    display: none;
}

.flag-tracker, .diff-label {
    font-size: 24px;
    color: white;
}

.game-container {
    background-color:black;
    height: 512px;
    width: 960px;
    border: 8px outset white;
    /*border-radius: 5px;*/
    padding: 2px;
    margin: 75px auto;
    margin-top: 10px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    font-size: 64px;
    line-height: 512px;
    color: white;
}

.rotated {
    transform: rotate(90deg);
}

.block {
    background-color: white;
    border: 2px outset black;
    text-align: center;
    font-size: 24px;
    user-select: none;
}

.bomb {
    background-color: white;
}

.selected {
    background-color: black;
    color: white;
    border-style: inset;
}

.flagged {
    background-color: green;
}