/* MAIN CONTAINERS */
.total-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.row-1, .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
    margin-bottom: 10px;
}

.row-2 {
    margin: 10px auto;
    margin-bottom: 50px;
}
/* ********** */

/* DASHBOARD */
.dashboard {
    background-color: black;
    border: 8px outset white;
    width: 540px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score-window, .board-size, .snake-speed {
    font-size: 24px;
    font-weight: bold;
    color: white
 }

 .board-change, .speed-change {
    font-size: 24px;
    background-color: white;
    color: black;
    border: 2px outset black;
 }

 #play-button {
    background-color: black;
    color: white;
    font-size: 24px;
    border: 8px outset white;
    width: 150px;
    height: 66px;
    font-weight: bold;
 }

 #play-button:hover {
    background-color: white;
    color: black;
    border-color: black;
 }
/* ********** */

/* GAME CONTAINER */
.game-container {
    width: 540px;
    height: 540px;
    border: 8px outset white;
    display: flex;
    flex-wrap: wrap;
}

.empty-space {
    background-color: black;
}

.snake-block {
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 30px;
    transition-timing-function: linear
}

.apple {
    background-color: red;
}
/* ********** */

/* COLOR MENU */
.colors {
    width: 134px;
    height: 520px;
    border: 8px outset white;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.color {
    width: 80px; 
    height: 40px;
}
/* ********** */